body {color:#FFFFFF; font-family:"Bahnschrift";}
h1 {font-size:75px; text-align:center;}
h3 {font-size:25px; text-align:center;}
img.intro {float:left; height:150px; weight:150px;}
img.intro2 {float:right; height:150px; weight:150px;}
img {height:150px; weight:150px;}
img.ora {height:300px; weight:300px;}
p {text-align:justify;}
img.yeh {height:100px; weight:100px;}